.infoItem {
	display: flex;
	text-align: left;
	margin-bottom: .3em;
}

.info, .title {
	text-transform: capitalize;
}

.info, .additional {
	align-self: center;
	padding-right: .2em;
}

.title {
	align-self: flex-start;
	margin-right: .5em;
}

.additional {
	text-transform: none;
}