.characterList {
	list-style-type: none;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	width: 100%;
}

.characterList a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	align-self: center;
	background: #282727;
	margin: .5em;
	padding: .5em;
	width: 9em;
	height: 6em;
	display: flex;
	border-radius: .5em;
}

.characterList span {
	align-self: center;
	text-align: center;
	width: 100%;
}

::-webkit-scrollbar {
	width: 0;
	height: .3em;
	border-radius: .5em;
/* 	background: transparent; */
}

::-webkit-scrollbar-thumb {
	border-radius: .5em;
	background: white;
}

::-webkit-scrollbar-track {
	border-radius: .5em;
}

.loading {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

.loading img {
	margin-top: 30vh;
}