* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html, body, #root {
	min-height: 100%;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
	margin: 0 auto;
	width: 70%;
	position: relative;
}

body {
	background-color: #151515;
}

.starBackground-left {
	background-image: url('./assets/bg_stars_left.jpg');
	background-size: auto 100%;
	background-position: left center;
	width: 200px;
	height: 100vh;
	position: absolute;
	background-repeat: repeat-y;
	z-index: -1;
}

.starBackground-right {
	background-image: url('./assets/bg_stars_right.jpg');
	right: 0;
	background-size: auto 100%;
	background-position: right center;
	width: 200px;
	height: 100vh;
	position: absolute;
	background-repeat: repeat-y;
	z-index: -1;
}

@media only screen and (max-width: 580px) {
	.container {
		width: 85%;
	}
}